  @import "utilities";
  @import "config";
  @import "btnConfig";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-color;
  font-family: $font-stack;
  line-height: 1;
}

img {
  border-radius: 50%;
  width: 550px;
}

a {
  text-decoration: none;
}

nav {
  color: $text-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 15px;

}

li {
  color: $text-color;
}

li a {
  color: $text-color;
}

li a:visited {
  color: $text-color;
}

.nav-points {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

ul {
  list-style-type: none;
  color: inherit;
}

.hero {
  background-color: $primary-color;
  color: $text-color;
}

.hero-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.hero-content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 100px;
}

.hero-titles {
  font-size: 45px;
}

// This code is related to some of the aspects of SCSS we have yet to cover.
// While you don't have to mess with it, it would be advisable to attempt to understand its functionality.
$spaceamounts: (1,2,3,4,5);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}
